<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather&family=Rubik+Dirt&family=Work+Sans&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <button class="filled--button primary">
      <span class="icon--button"><i class="fa-brands fa-space-awesome fa-beat"></i></span>
      <span class="text--button">Button</span>
    </button>
    <br />
    <button class="filled--button secondary">
      <span class="icon--button"><i class="fa-brands fa-space-awesome fa-beat"></i></span>
      <span class="text--button">Button</span>
    </button>
    <br />
    <button class="filled--button tertiary">
      <span class="icon--button"><i class="fa-brands fa-space-awesome fa-beat"></i></span>
      <span class="text--button">Button</span>
    </button>
    <br />
    <button class="filled--button outline primary">
      <span class="icon--button"><i class="fa-brands fa-space-awesome fa-beat"></i></span>
      <span class="text--button">Button</span>
    </button>
    <br />
    <button class="filled--button outline secondary">
      <span class="icon--button"><i class="fa-brands fa-space-awesome fa-beat"></i></span>
      <span class="text--button">Button</span>
    </button>
    <br />
    <button class="filled--button outline tertiary">
      <span class="icon--button"><i class="fa-brands fa-space-awesome fa-beat"></i></span>
      <span class="text--button">Button</span>
    </button>
    <button class="filled--button outline error">
      <span class="icon--button"><i class="fa-brands fa-space-awesome fa-beat"></i></span>
      <span class="text--button">Button</span>
    </button>
  </body>
</html>
