@import url(../../components/button/styles.css);

/* ================ MAIN ============== */
body {
    display: flex;
    flex-direction: column;
}

.container {
    position: relative;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
}

/* ================================= INFORMATION ==================================== */
.main-header {
    background-color: black;
    position: relative;
    background: url(../../assets/images/exploreBackground.webp);
    background-repeat: no-repeat;
    background-size: cover, contain;
    background-position: center;

}

.main-header::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    /* background-color: rgba(0, 0, 0, 0.6); */
    background-color: color-mix(in srgb, var(--color-black) 50%, transparent);
}

.main-header .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

/* ITEM LEFT */
.main-header__head-line {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}

.main-header__head-line .title {
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;
    color: var(--color-white);
}

.main-header__head-line .desc {
    font-size: 22px;
    font-weight: 500;
    line-height: 160%;
    text-transform: capitalize;
    color: var(--color-sub-text-100);
}

/* ITEM RIGHT */
.main-header__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.main-header__image img {
    width: 300px;
}


/* ================================= NFTs ==================================== */

/* Head line */
.main-nfts__headline {
    width: 100%;
}
.main-nfts__title {
    color: var(--color-text);
    font-weight: 700;
    padding-bottom: 30px;
    max-width: 330px;
    width: 100%;

}

/* ITEM NFT */
.nft-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2px;
    cursor: pointer;
    max-width: 330px;
    width: 100%;
    height: 100%;
}

.nft-card__img {
    height: 204px !important;
}



/*======================== Reponsive ===================*/
.col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wide {
    max-width: 1200px !important;
}
@media (max-width: 1023px) {

    .nft-card__img {
        height: 296px !important;
    }
}

@media (max-width: 740px) {

    .container {
        justify-content: center;
        align-items: center;
    }

    .main-header__head-line {
        justify-content: center;
        align-items: center;
        padding-top: 30px;
    }

    .main-header__head-line .title,

    .main-header__head-line .desc {
        text-align: center;
    }

}