<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <ul class="notifications" id="toast-notifications">
     
    </ul>
    

    <div class="toast-container">
      <div class="buttons">
        <button class="btn" id="success">Success</button>
        <button class="btn" id="error">error</button>
        <button class="btn" id="warning">warning</button>
        <button class="btn" id="info">info</button>
      </div>
  
      <ul class="toast-template">
        <li class="toast toast-success">
          <div class="toast-column">
            <i class="fa fa-check-circle"></i>
            <span>Success</span>
          </div>
        </li>
        <li class="toast toast-error">
          <div class="toast-column">
            <i class="fa fa-check-circle"></i>
            <span>Error</span>
          </div>
        </li>
        <li class="toast toast-warning">
          <div class="toast-column">
            <i class="fa fa-check-circle"></i>
            <span>Warnning</span>
          </div>
        </li>
        <li class="toast toast-info">
          <div class="toast-column">
            <i class="fa fa-check-circle"></i>
            <span>Infor</span>
          </div>
        </li>
      </ul>
    </div>
    <script src="./main.js"></script>
  </body>
</html>