@import url('https://api.fontshare.com/v2/css?f[]=montserrat@500,700,701,200,401,301,400,601,100,101,201,300,600,501&display=swap" rel="stylesheet');

:root {
  /* ================ HEX ==================== */
  --color-primary: #A259FF;
  --color-white: #fff;
  --color-black: #000;
  --color-plum: #b80257;

  /* Gray */
  --color-gray-100: #FCFCFC;
  --color-gray-200: #FAFAFA;
  --color-gray-300: #F6F6F6;
  --color-gray-400: #F2F2F2;
  --color-gray-500: #F1F1F1;
  --color-gray-600: #eeeeee;
  --color-gray-700: #E9ECEF;
  --color-gray-800: #E5E5E5;
  --color-gray-900: #C4C4C4;
  --color-gray-1000: #BBB8B8;
  --color-gray-1100: #AFAFAF;
  --color-gray-1200: #929191;
  --color-gray-1300: #8D8D8D;
  --color-gray-1400: #86878B;
  --color-gray-1500: #666;
  --color-gray-1600: #4C4C4C;
  --color-gray-1700: #3B3B3B;
  --color-gray-1800: #333;
  --color-gray-1900: #2B2B2B;
  --color-gray-2000: #292929;
  --color-gray-2100: #242424;
  --color-gray-2200: #040404;

  /* Green */
  --color-green-100: #74d8c1;
  --color-green-200: #18E094;
  --color-green-300: #00EC98;
  --color-green-400: #00DF80;
  --color-green-500: #00CB7E;
  --color-green-600: #008000;

  /* Red */
  --color-red-100: #F04349;
  --color-red-200: #f33a58;
  --color-red-300: #fe2c55;
  --color-red-400: #FF014E;
  --color-red-500: #ff0000;

  /* Yellow */
  --color-yellow-100: #E9D8BD;
  --color-yellow-200: #FFD21E;
  --color-yellow-300: #ffff00;

  /* Purple */
  --color-purple-100: #A269ff;
  --color-purple-200: #7C5DFB;

  /* Blue */
  --color-blue-100: #2cccff;
  --color-blue-200: #00C5F9;
  --color-blue-300: #04afdf;

  /* Dark Blue */
  --color-dark-blue-100: #3f3d56;
  --color-dark-blue-200: #183153;
  --color-dark-blue-300: #252337;

  /* action */
  --color-success: #18e094;
  --color-warning: #ffd21e;
  --color-error: #FF014E;

  /* Text */
  --color-text: #333;

  --color-sub-text-100: #afafaf;
  --color-sub-text-200: #919191;
  --color-sub-text-300: #6d6d6d;
  --color-sub-text-400: #4c4c4c;

  /* general */
  --color-btn-primary: #A259FF;
  --color-background: #fff;

  --color-border-100: #E5E5E5;
  --color-border-200: #bbb8b8;
  --color-border-300: #929191;


  /* ================ RGB ==================== */
  --color-rgb-primary: hsl(266, 100%, 67%);
  --color-rgb-white: rgb(255, 255, 255);
  --color-rgb-black: rgb(0, 0, 0);
  --color-rgb-plum: rgb(184, 2, 87);

  /* Gray */
  --color-rgb-gray-100: rgb(252, 252, 252);
  --color-rgb-gray-200: rgb(250, 250, 250);
  --color-rgb-gray-300: rgb(246, 246, 246);
  --color-rgb-gray-400: rgb(242, 242, 242);
  --color-rgb-gray-500: rgb(241, 241, 241);
  --color-rgb-gray-600: rgb(238, 238, 238);
  --color-rgb-gray-700: rgb(233, 236, 239);
  --color-rgb-gray-800: rgb(229, 229, 229);
  --color-rgb-gray-900: rgb(196, 196, 196);
  --color-rgb-gray-1000: rgb(187, 184, 184);
  --color-rgb-gray-1100: rgb(175, 175, 175);
  --color-rgb-gray-1200: rgb(146, 145, 145);
  --color-rgb-gray-1300: rgb(141, 141, 141);
  --color-rgb-gray-1400: rgb(134, 135, 139);
  --color-rgb-gray-1500: rgb(102, 102, 102);
  --color-rgb-gray-1600: rgb(76, 76, 76);
  --color-rgb-gray-1700: rgb(59, 59, 59);
  --color-rgb-gray-1800: rgb(51, 51, 51);
  --color-rgb-gray-1900: rgb(43, 43, 43);
  --color-rgb-gray-2000: rgb(41, 41, 41);
  --color-rgb-gray-2100: rgb(36, 36, 36);
  --color-rgb-gray-2200: rgb(4, 4, 4);

  /* Green */
  --color-rgb-green-100: rgb(116, 216, 193);
  --color-rgb-green-200: rgb(24, 224, 148);
  --color-rgb-green-300: rgb(0, 236, 152);
  --color-rgb-green-400: rgb(0, 223, 128);
  --color-rgb-green-500: rgb(0, 203, 126);
  --color-rgb-green-600: rgb(0, 128, 0);

  /* Red */
  --color-rgb-red-100: rgb(240, 67, 73);
  --color-rgb-red-200: rgb(243, 58, 88);
  --color-rgb-red-300: rgb(254, 44, 85);
  --color-rgb-red-400: rgb(255, 1, 78);
  --color-rgb-red-500: rgb(255, 0, 0);

  /* Yellow */
  --color-rgb-yellow-100: rgb(233, 216, 189);
  --color-rgb-yellow-200: rgb(255, 210, 30);
  --color-rgb-yellow-300: rgb(255, 255, 0);

  /* Purple */
  --color-rgb-purple-100: rgb(162, 105, 255);
  --color-rgb-purple-200: rgb(124, 93, 251);

  /* Blue */
  --color-rgb-blue-100: rgb(44, 204, 255);
  --color-rgb-blue-200: rgb(0, 197, 249);
  --color-rgb-blue-300: rgb(4, 175, 223);

  /* Dark Blue */
  --color-rgb-dark-blue-100: rgb(63, 61, 86);
  --color-rgb-dark-blue-200: rgb(24, 49, 83);
  --color-rgb-dark-blue-300: rgb(37, 35, 55);

  /* action */
  --color-rgb-success: rgb(24, 224, 148);
  --color-rgb-warning: rgb(255, 210, 30);
  --color-rgb-error: rgb(255, 1, 78);

  /* Text */
  --color-rgb-text: rgb(51, 51, 51);

  --color-rgb-sub-text-100: rgb(175, 175, 175);
  --color-rgb-sub-text-200: rgb(145, 145, 145);
  --color-rgb-sub-text-300: rgb(109, 109, 109);
  --color-rgb-sub-text-400: rgb(76, 76, 76);

  /* general */
  --color-rgb-btn-primary: rgb(162, 89, 255);
  --color-rgb-background: rgb(255, 255, 255);

  --color-rgb-border-100: rgb(229, 229, 229);
  --color-rgb-border-200: rgb(187, 184, 184);
  --color-rgb-border-300: rgb(146, 145, 145);
}

* {
  box-sizing: inherit;
  margin: 0;
  color: inherit;
}

/* use em vs rem with text */
/* 0.1rem ~ 1px */
/* 1.6rem ~ 16px */
/* 2rem ~ 20px */

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a,
li {
  text-decoration: none;
  font-size: 16px;
}

ul {
  list-style: none;
}

/* Text size */
h1 {
  font-size: 5.1rem;
  line-height: 6.12rem;
  /* 1.2 times the font-size */
}

h2 {
  font-size: 3.8rem;
  line-height: 4.56rem;
  /* 1.2 times the font-size */
}

h3 {
  font-size: 2.8rem;
  line-height: 3.36rem;
  /* 1.2 times the font-size */
}

h4 {
  font-size: 2.2rem;
  line-height: 2.64rem;
  /* 1.2 times the font-size */
}

h5 {
  font-size: 1.6rem;
  line-height: 1.92rem;
  /* 1.2 times the font-size */
}

h6 {
  font-size: 1.4rem;
  line-height: 1.6rem;
  /* 1.2 times the font-size */
}

.text-body-1 {
  font-size: 2.2rem;
}

.text-body-2 {
  font-size: 1.6rem;
}

.text-body-3 {
  font-size: 1.4rem;
}

.text-body-tiny {
  font-size: 1.2rem;
}