.list-loading__container {
  min-height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list-loading__svg-container {
  width: 32px;
  height: 32px;
  position: relative;
}

.list-loading__svg-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: rorate infinite 1s linear;
}

@keyframes rorate {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}