
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
  </head>
  <body>
    <div class="NFT">
        <div class="NFT-card">
            <img class="NFT-image" src="./../../assets/images/AvatarDefault.webp" alt="">
            <div class="NFT-info">
              <div class="NFT-artist-info">
                <span class="NFT-name">NFT Name</span>
                <div class="NFT-artist-avartar-name">
                  <div class="avatar"></div>
                  <span class="artist-name">NFT Artist</span>
                </div>
                <div class="NFT-additional-info">
                  <div class="price">
                    <span class="title">Price</span>
                    <br>
                    <span class="value">1.63 ETH</span>
                  </div>
                  <button class="filled--button tertiary">
                    <span class="text--button">Buy NFT</span>
                </button>
                </div>
              </div>
            </div>
        </div>
    </div>
  </body>
</html>
