<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="styles.css">
  <script src="https://kit.fontawesome.com/673614690a.js" crossorigin="anonymous"></script>
  <title>Document</title>
</head>

<body>
  <div class="alert alert--error">
    <a href="#" class="alert-overlay-close" id="arlet-overlay-close"></a>
    <div class="alert-container">
      <div class="alert__close">
        <i class="fas fa-times-circle" id="alert-close"></i>
      </div>
      <div class="alert__main">
        <i class="fas fa-times-circle alert__main-icon"></i>
        <p class="alert__main-title">ALERT ERROR</p>
        <div class="alert__main-content">
          <span>
            ABCThis is content notification
            This is content notification
            This is content notification
          </span>
        </div>
      </div>
      <div class="alert__action">
        <button class="alert__action-ok" id="arlet-ok">OK</button>
        <button class="alert__action-cancel" id="arlet-cancel">Cancel</button>
      </div>
    </div>
  </div>
</body>

</html>