/* * {
  box-sizing: border-box;
  font-size: 50px;
} */

/* Button */
.home-btn {
  display: flex;
  height: 40px;
  padding: 0px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0;
  border: none;
  color: white;
  gap: 10px;
  background: var(--color-primary);
}

.home-btn a {
  font-size: 14px !important;
  font-weight: 600;
  color: var(--color-white);
}


.home-btn i {
  background-color: transparent;
  font-size: 12px;
}

/* ================================= INFORMATION ==================================== */
.container {
  position: relative;
  padding: 80px 0px;
  display: flex;
  flex-direction: column;
}

.section-info {
  background-color: black;
  position: relative;
  background: url("https://s3-alpha-sig.figma.com/img/85c0/8b92/890ad3bb78d42a6892b85871b782b103?Expires=1696809600&Signature=kk4j4DUM~CZpuIYhzoZY4eq9VCYJwN2mARKR-VlP9GZq8rYF6B8lzr80r1iXQC9F-mwomGfgc7wxPjpEUsn--x-ue4KZEhSPHQBmoCx9NteSfDmOTTb8d~4hGJjR3nVMwBO2r096kqUw-lTNFrC04BRaWWy4VWNF6NnPlH9AgNJLgrNUqcqQpNyKWTHKr5NDTNAZkgnK8C1yR895SPyyBEv4x6i6xlU7QG7qw5RSTbNL3lfG-yR2M8NzLnMEsePqX-oHRY8O~AzwZtv1epW9yvvxyNfLsDAW0r3IAUIuLBQIYnosVymPhnIHz9g8rjx2V6Zdx5giVlodexq7~gWLzA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  background-repeat: no-repeat;
  background-size: cover, contain;
  background-position: center;
}

.section-info::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  /* background-color: rgba(var(--color-rgb-black), 0.6); */
  background-color: color-mix(in srgb, var(--color-black) 60%, transparent);
}

.section-info .container {
  width: 100%;
  display: flex;
  align-items: center;
}

/* ITEM LEFT */
.section-info__intro {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 50px;
  padding: 30px 0px;
}

.section-info__intro .head-line {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section-info__intro .head-line .title {
  font-weight: 700;
  line-height: 140%;
  text-transform: capitalize;
  color: var(--color-white);
}

.section-info__intro .head-line .desc {
  font-size: 22px;
  font-weight: 500;
  line-height: 160%;
  text-transform: capitalize;
  color: var(--color-sub-text-100);
}
/* Button */
.section-info__btn-get-start {
  height: 50px;
  padding: 20px 50px;
  font-size: 16px;
  font-weight: 600;
}
.section-info__btn-get-start i {
  background-color: transparent;
  font-size: 14px;
}

/* ITEM RIGHT */
.section-info__nft-eg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 30px 50px;
}

.section-info__nft-eg .nft-eg__content {
  width: 100%;
  height: 370px;
  border-radius: 20px;
  background: url("./../assets/images/NFTBackgroundEg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}

.section-info__nft-eg .nft-eg__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-shrink: 0;
  align-self: stretch;
  padding: 10px;
  /* background: rgba(var(--color-rgb-black), 0.25); */
  background-color: color-mix(in srgb, var(--color-black) 25%, transparent);
  border-radius: 0 0 20px 20px;
}

.section-info__nft-eg .nft-eg__name {
  position: relative;
  flex: 1 0 0;
  color: var(--color-white);
  font-size: 16px;
  font-weight: 600;
}

.section-info__nft-eg .nft-eg__user {
  position: relative;
  flex: 1 0 0;
  display: flex;
  align-items: center;
  gap: 15px;
}

.section-info__nft-eg .nft-eg__user .avatar {
  width: 35px;
  height: 35px;
  background-image: url("https://images.pexels.com/photos/326055/pexels-photo-326055.jpeg?cs=srgb&dl=pexels-pixabay-326055.jpg&fm=jpg");
  border: 2px solid var(--color-gray-1500);
}

.section-info__nft-eg .nft-eg__user .user-name {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-white);
}



/* ================================= NFTs ==================================== */

.section-nfts__header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 50px;
  width: 100%;
}

/* Head line */
.section-nfts__header .head-line {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-nfts__header .head-line__title {
  color: var(--color-text);
  font-weight: 700;
}

.section-nfts__header .head-line__desc {
  color: var(--color-text);
  font-size: 16px;
  font-weight: 500;
}

/* ITEM NFT */
.section-nfts .info__nft-eg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 !important;
}

.section-nfts .info__nft-eg .nft-eg__content {
  width: 320px;
  height: 350px;
  border-radius: 20px;
  background: url("./../assets/images/NFTBackgroundEg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}

.section-nfts .info__nft-eg .nft-eg__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-shrink: 0;
  align-self: stretch;
  padding: 10px;
  /* background: rgba(var(--color-rgb-black), 0.25); */
  background-color: color-mix(in srgb, var(--color-black) 25%, transparent);
  border-radius: 0 0 20px 20px;
}

.section-nfts .info__nft-eg .nft-eg__name {
  position: relative;
  flex: 1 0 0;
  color: var(--color-white);
  font-size: 16px;
  font-weight: 600;
}

.section-nfts .info__nft-eg .nft-eg__user {
  position: relative;
  flex: 1 0 0;
  display: flex;
  align-items: center;
  gap: 15px;
}

.section-nfts .info__nft-eg .nft-eg__user .avatar {
  width: 35px;
  height: 35px;
  background-image: url("https://images.pexels.com/photos/326055/pexels-photo-326055.jpeg?cs=srgb&dl=pexels-pixabay-326055.jpg&fm=jpg");
  border: 2px solid var(--color-gray-1500);
}

.section-nfts .info__nft-eg .nft-eg__user .user-name {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-white);
}

/* ================================= HOW IT WORK ==================================== */

.guide__header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 50px;
  width: 100%;
}

/* Head line */
.guide__header .head-line {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.guide__header .head-line__title {
  color: var(--color-text);
  font-weight: 700;
}

.guide__header .head-line__desc {
  color: var(--color-text);
  font-size: 16px;
  font-weight: 500;
}

/* Guide item */
.guidle-item__frame {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
}

.guide-item {
  display: flex;
  width: 320px;
  padding: 10px 30px 30px 30px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
  background: linear-gradient(180deg, var(--color-purple-200) 0%, var(--color-gray-1700) 100%);
}

.guide-item__image {
  position: relative;
  background: url('../assets/images/CreateCollectionIcon.webp');
  background-position: center;
  background-size: cover;
  height: 200px;
  width: 200px;
}

.guide-item__detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;

}

.guide-item__detail-title {
  color: var(--color-white);
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  /* 30.8px */
  text-transform: capitalize;
  margin-bottom: 10px;
}

.guide-item__detail-content {
  color: var(--color-white);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

/*======================== Reponsive ===================*/

.wide {
  max-width: 1024px !important;
}

@media (max-width: 1023px) {
  .section-info .section-info__intro {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px;
  }

}

@media (max-width: 740px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    max-width: 320px;
  }

  .container {
    justify-content: center;
    align-items: center;
  }
}