<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="./../../../styles/base.css">
  <script src="https://kit.fontawesome.com/673614690a.js" crossorigin="anonymous"></script>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:wght@300&display=swap"
    rel="stylesheet">
  <title>Document</title>
</head>

<body>
  <form class="modal-buy" id="modal-buy">
    <a href="#" class="modal-buy-overlay-close" id= "modal-buy-overlay-close"></a>
    <div class="modal-buy-container">
      <div class="modal-buy__header">
        <h4 class="modal-buy__title">Buy NFT</h4>
        <div class="modal-buy__close" id="modal-buy-close">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="modal-buy__main">

        <div class="modal-buy__nft">
          <div class="modal-buy__nft-info">
            <img src="" alt="" class="modal-buy__nft-img" id="modal-buy-nft-img">
            <p class="modal-buy__nft-name" id="modal-buy-nft-name">NFT Name abc abc abc abc abc</p>
            <p class="modal-buy__nft-address" id="modal-buy-nft-address">0x0000 ... 0000</p>
          </div>
          <!-- <div class="modal-buy__nft-price modal-buy-value">
            <p class="number" id="modal-buy-nft-price">0.00000029</p>
            <p class="unit">NFT</p>
          </div> -->
        </div>
        <!-- <div class="modal-buy__network modal-buy__frame">
          <div class="modal-buy__network-info">
            <img src="./../../../assets/images/EtherIcon.webp" alt="" class="modal-buy__network-img">
            <div class="modal-buy__network-content">
              <p id="modal-buy-ether-id" class="modal-buy__network-id">id Etherium</p>
              <p class="modal-buy__network-name">Etherium</p>
            </div>
          </div>
          <p class="modal-buy__network-status" id="modal-buy-status">
            Connected
          </p>
         
        </div> -->
        <div class="modal-buy__price modal-buy__frame-2">
            <p class="modal-buy__price-title">Price</p>
            <div class="modal-buy__price-value modal-buy-value">
              <p class="number" id="modal-buy-price">0.000000000000000000000000000000029</p>
              <p class="unit">NFT</p>
            </div>
        </div>
        <div class="modal-buy__rarible modal-buy__frame-2">
            <p class="modal-buy__rarible-title">Rarible fee</p>
            <div class="modal-buy__rarible-value modal-buy-value">
              <p class="number" id="modal-buy-fee">1</p>
              <p class="unit">%</p>
            </div>
        </div>
        <div class="modal-buy__total modal-buy__frame-2">
            <p class="modal-buy__total-title">Total</p>
            <div class="modal-buy__total-value modal-buy-value">
              <p class="number" id="modal-buy-total">0.029</p>
              <p class="unit">NFT</p>
            </div>
        </div>
      </div>
      <div class="modal-buy__action">
        <button class="modal-buy__action-ok" id="modal-buy-ok">OK</button>
        <button class="modal-buy__action-cancel" id="modal-buy-cancel">Cancel</button>
      </div>
    </div>
  </form>
  <script>
    // Variables
    const nftImage = document.getElementById('modal-buy-nft-img');
    const nftName = document.getElementById('modal-buy-nft-name');
    const nftAddress = document.getElementById('modal-buy-nft-address');
    const price = document.getElementById('modal-buy-price');
    const rarible = document.getElementById('modal-buy-fee');
    const total = document.getElementById('modal-buy-total');
    const modalStatus = document.getElementById('modal-buy-status');
    
    // add value for nft
    nftImage.src = "https://uithcm-my.sharepoint.com/personal/19520171_ms_uit_edu_vn/Documents/IE104/image/NftEg2.png"
    
    nftName.innerHTML = "Name of NFT of user can see"
    nftName.title = "NFT of user can see"

    nftAddress.innerHTML = "0xadff ... dad"

    // add value for network
    // var idExmple = 'f4184fc596403b9d638783cf57adfe4c75c605f6356fbc91338530e9831e9e16'
    // if (idExmple.length > 9) {
    //   var shortenedString = idExmple.substr(0, 5) + ' ... ' + idExmple.substring(idExmple.length - 4)
    //   etherId.innerHTML = shortenedString;
    // }
    // else {
    //   etherId.innerHTML = idExmple;
    // }
    // etherId.title = "f4184fc596403b9d638783cf57adfe4c75c605f6356fbc91338530e9831e9e16"

    // add value for price, rarible, total
    price.innerHTML = '0.0000000000000029'
    price.title = "0.029" + ' NFT'
    
    rarible.innerHTML = '1'

    var p = Number(price.innerHTML);
    var r = Number(rarible.innerHTML);

    total.innerHTML = (p + (p*r)/100).toFixed(10)
    total.title = (p + (p*r)/100).toFixed(10) + ' NFT'
  
    // check connnect network (mặc định của css là kết nối được)
    var connect = true;
    if(connect == true){
      modalStatus.classList.remove("modal-buy-not-connect");
      modalStatus.innerHTML="Connected"
    }
    else{
      modalStatus.classList.add("modal-buy-not-connect");
      modalStatus.innerHTML="Not Connect"
    }
  </script>
</body>

</html>