<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="styles.css">
  <title>Document</title>
</head>

<body>
  <div class="collection-item__container">
    <img class="collection-item__image"
      src="https://img.freepik.com/premium-photo/boy-is-using-laptop-with-word-s-screen_972034-586.jpg" alt="">
    <div class="collection-item__info">
      <p class="collection-item__name" title="collection-item Name">
        Name Collection
      </p>
      <p class="collection-item__address" title="0x0000000000000000000000">
        0x000 ... 0000
      </p>
      <div class="collection-item__account">
        <span class="collection-item__account-title">NFTs: </span>
        <span class="collection-item__account-number" title="1.6363">34</span>
      </div>
    </div>
  </div>
</body>

</html>